*{
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
	list-style: none;
	letter-spacing: 2px;
}
body, html {
	font-family: sans-serif, Verdana,Tahoma;
	margin: 0px;
	width: 100%;
	font-size: 1.2em;
	background-color: rgb(220,220,220);	
}
footer{
	clear: both;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: white;
	background: linear-gradient(90deg, rgb(156, 6, 6), rgba(50, 0, 30, 0.85));
}
form{
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 12pt;
}

form label, form input, form select, form textarea, form button{
	color: black;
	margin: 0.2%;
	margin-top: 1%;
	display: inline-block;
}

form label{
	margin-top: 3.5%;
}

form input, form select, form textarea{
	border: solid black 1px;
	border-radius: 5px;
	margin: 1% 0% 0% 0%; 
	padding: 1%;
	width: 40%;
}

form select{
	width: 42.5%;
}
form li {
  width: 62.5%;
  min-height: 60px;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;

}

form img {
  min-height: 60px;
  max-height: 80px;
  order: 1;
  border-radius: 0px 5px 5px 0px;
}

form p {
  margin: 1% 1% 1% 1%;
}

form button{
	min-width: 20%;
	max-width: 30%;
	min-height: 50px;
	max-height: 60px;
	margin: 1% 0% 1% 0%;
	font-size: 1.0em;
	color: white;
	background-color: rgb(50, 0, 30);
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}
form button:hover{
	color: rgb(156, 6, 6);
}
form button:active{
	transform: scale(0.98, 0.98);
}
.footer label{
	color: white;
	word-spacing: 1px;
	vertical-align: middle;
	line-height: 40px;
}

.cabecalho{
	width: 100%;
	height: 150px;
	color: white;
	background: linear-gradient(175deg, rgb(156, 6, 6), rgba(50, 0, 30, 0.85));
	position: fixed;
	top: 0px;
	left: 0px;	
	right: 0px;
	width: 100%;
}
.cabecalho label{
	color: white; 
}
.cabecalho img{
	float: left;
	margin-left: 15%;
	width: 150px;
	height: 130px;
	margin-top: 0.5%;
}
.painel{
	margin-top: 165px;
	margin-left: 2%;
	margin-bottom: 5%;
	min-width: 97%;
	max-width: 97%;
}
.cabecalho_paineis{
    left: 0px;
    right: 0px;
    width: 100%;
    min-height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    background-color: rgb(50, 0, 75);
    border-top: 10px solid rgba(0, 0, 0, 0.0);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.0);
    font-size: 0.5em; 
}
.botao_paineis{
	display: block;
	color: rgb(156, 6, 6);
	height: 40px;
	line-height: 40px;
	background-color: rgba(50, 0, 30, 0.6);
	font-size: 18pt;
	margin: 1% 1% 1% 1%;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.botao_paineis:hover{
	position: relative;
	bottom: 5px;
}

.login
{
	width: 40%;
	float: right;
	margin-top: 0.7%;
	margin-right: 0.7%;
	display: inline-block;
	font-size: 0.9em;
}
.login form input
{
	border: solid black 1px;
	border-radius: 5px;
	margin-bottom: 2%;
	padding: 1%;
	width: 35%;
}
.login button
{
	color: white;
	width: 20%;
	height: 27px;
	border-radius: 5px;
	border: solid black 1px;
	background-color: rgb(50, 0, 30);
	cursor: pointer;
}

.login button:hover{
	color: red;
	background-color: rgba(50, 0, 30, 0.6);
}
.login button:active{
	box-shadow:  none;
	top: 2px;
	position: relative;
}

.login label
{
	font-size: 0.9em;
}
.login a
{
	cursor: pointer;
	color: rgb(50, 0, 30);
}
.login a:hover
{
	color: red;
}
iframe
{
	margin-top: 10px;
	margin-bottom: 4%;
	margin-left: 1%;
	margin-right: 1%;
	min-width: 90%;
	max-width: 90%;
	border: 1px solid black;
	height: 400px;
}

.menu
{
	margin-bottom: 2%;
	text-align: justify;
	display: block;
}
.menu > ul > li
{
	width: 30%;
	display: inline-block;
	cursor: pointer;
	margin: 1% 1% 1% 1%;
	text-align: center;
	line-height: 40px;
}
.menu > ul > li > a
{
	color: rgb(156, 6, 6);
	display: block;
	height: 40px;
	background-color: rgba(50, 0, 30, 0.6);
	font-size: 18pt;
}
.painel_bemvindo
{
	margin-bottom: 2%;
	min-width: 97%;
	max-width: 97%;
	text-align: justify;
}

.quem_somos
{
	margin-bottom: 2%;
	margin-left: 2.5%;
	min-width: 62%;
	max-width: 62%;
	text-align: justify;
	float: left;
}
.fachada
{
	width: 65%;
	float: left;
	margin: 0.3% 0.3% 0.3% 0.3%;
}

.jardim
{
	float: right;
	margin: 0.3% 0.3% 0.3% 0.3%;
}

.elemento{
	margin-top: 0.2%;
	display: block;
}

.modal{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.8);
}
.conteudo_modal{
	width: 30%;
	height: 200px;
	margin-top: 10%;
	padding-top: 10%;
}

.conteudo_modal label{
	color: white;
	font-size: 2.6em;
}

.imgNaoSelecionada
{
  cursor: pointer;
}

.imgNaoSelecionada:hover
{
  background-color: rgba(0, 0, 0, 0.8);
}

.imgDestaque
{
  background-color: rgba(180, 180, 180, 0.8);
}

.descricao_quartos{
	float: left;
	min-width: 35%;
	max-width: 35%;
	height: auto;
	margin-left: 1%;
	margin-bottom: 1%; 
	border: 1px solid black;
	border-radius: 12px;
}

.conteudo_quartos
{
	width: 100%;
	display: inline-block;
	color: black;
	border-radius: 12px 12px 0px 0px;
	border: 1px solid black;
	background-color: rgba(255,255,255, 0.4);
}

.cabecalho_conteudo_quartos
{
	left: 0px;
    right: 0px;
    width: 100%;
    min-height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    background: linear-gradient(90deg, rgb(156, 6, 6), rgba(50, 0, 30, 0.85));
    border-top: 10px solid rgba(0, 0, 0, 0.0);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.0);
}

.quarto{
	clear: both;
	width: 90%;
	margin-top: 3%;
	margin-bottom: 1%;
	border-radius: 12px;
	background-color: rgba(255,255,255, 0.1);
}


.imagens_quartos
{
	float: right;
	min-width: 60%;
	max-width: 60%;
	min-height: 320px;
	max-height: 320px;
	margin-right: 1%;
	margin-left: 2%;
	margin-bottom: 1%;
	border: 1px solid black;
    border-radius: 12px;
}
.imagens_quartos > a > img
{
	margin-top: 3%;
}

.descricao_geral{
	text-align: justify;
	font-size: 0.7em;
	margin: 2%;
}

a
{
	color: black;
	text-decoration: underline;
	font-size: 1.2em;
}